body {
  max-width: 100% auto;
  font-family: "Roboto", sans-serif;
  margin: 0% auto;
}
h1,
h3 {
  text-align: center;
  padding: 20px 0%;
  margin: 0%;
}
h3 {
  padding-top: 0;
}
button {
  display: block;
  margin: 20px auto 10px;
  padding: 15px 20px;
  margin-top: 20px;
  width: 70%;
  font-family: Goudy Old Style BT;
  font-style: italic;
  font-size: 19px;
  transition: all 200ms ease-in-out;
  background: #404040;
  color: #fae505;
  border: 1px solid #fabd05a8;
  border-radius: 10px;
  box-shadow: rgb(37 39 89 / 19%) 7px 7px 8px 0;
}

button:hover {
  background: #fae505;
  color: #404040;
  border: 1px solid #404040;
}
a {
  color: #faebd7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  text-align: center;
  margin: 0%;
}

ul.complexList {
  display: flex;
  margin-top: 0%;
  margin-bottom: 0%;
  align-items: center;
  padding: 25px;
}
.complexList {
  list-style: none;
  align-items: center;
}
.complexList li {
  margin-left: 20px;
  justify-content: center;
  width: 33.33%;
  align-items: center;
}
.moreInfo {
  padding: 5px;
  background-color: #404040;
  margin: 0;
  background-size: 100%;
}
.table {
  height: 200px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/049/603/original/Fon1.jpg?1666376184");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 165px;
  /* max-width: 100% auto; */
  text-align: justify;
}

.table td {
  padding: 20px;
  /* width: 50%; */
  font-size: 18px;
  border-radius: 10px;
}
.table td:nth-child(1) {
  background: #404040a8;
  color: #fae505;
}

.table td:nth-child(2) {
  background: #fabd05a8;
  color: #404040;
  /* vertical-align: top; */
}
.table h3 {
  font-size: 25px;
  font-style: italic;
}
.heading {
  max-width: 100% auto;
  background-color: rgb(35, 35, 35);
  display: block;
  /* background-size: 100%; */
  color: #faebd7;
}
.letter {
  color: #c4915f;
  font-size: 40px;
  position: relative;
  top: 5px;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: auto;
  padding-bottom: 15px;
}
.logo {
  width: 150px;
  padding: 0%;
  margin: 0%;
}
.modalBox {
  position: absolute;
  top: 30px;
  left: 60px;
}
.contact {
  background-image: linear-gradient(to top, #fdfcfb 0%, #faebd7 100%);
  margin-top: 0%;
}
.icon {
  width: 50px;
  display: block;
  margin: auto;
  padding-bottom: 10px;
}
.complexList li p {
  margin: 0% auto;
  color: gray;
}
#beeIcon {
  position: fixed;
  left: 20px;
  top: 100px;
}
#beeIconBtn {
  background: transparent;
  border: none;
  box-shadow: none;
}
#beeIconBtn img {
  width: 70px;
}
